<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>EDIT page</title>
</head>
<body>

  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Edit thought</h3><hr>
      <form method='post' action='{{url_for("edit",id=rows.id)}}'>
        <div class='form-group'>
          <label>Title</label>
          <input type='text' name='title' required class='form-control' value='{{rows.title}}'>
        </div>
        <div class='form-group'>
          <label>thoughts</label>
          <input type='text' name='thought' required class='form-control' value='{{rows.thought}}'>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    </div>
  </div>

</body>

</html>